.flex-column-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  justify-content: flex-start;
}

.flex-row-between-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-row-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-center-around {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.flex-row-center-between {
  display: flex;
  justify-content: space-between;
}

.flex-row-end-center {
  display: flex;
  justify-content: flex-end;
}
