<template>
  <div class="wrap-table">
    <el-table
      :data="tableData"
      stripe
      border
      style="width: 100%">
      <slot></slot>
    </el-table>
    <el-pagination
      style="margin-top: 15px"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="currentPage"
      :page-sizes="[8, 15, 20, 25, 30,40,50]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
    </el-pagination>
  </div>
</template>
<script>
  export default{
    data(){
      return {
        total: 0, // 总页数
        currentPage: 1, // 当前页
        pageSize: 8, // 页面数量
        tableData: [],
      }
    },
    props: {
      tableConfig: {
        type: Object,
      }
    },
    methods: {
      loadData(){
        const {tableConfig, currentPage, pageSize} = this
        let URL = `${tableConfig.url}/${Object.values(tableConfig.param).join('/')}?p=${currentPage}&s=${pageSize}`
        this.axios.get(URL).then(result => {
          console.log(result, 'result')
          this.tableData = result.data || []
          this.total = +result.total || 0
          this.$emit('success')
        })
      },
      handleSizeChange(val) {
        this.pageSize = val
        this.loadData()
      },
      handleCurrentChange(val) {
        this.currentPage = +val
        this.loadData()
      },
      initEvent(){
        this.$parent.$on('refresh_table', () => {
          console.log('me want to refresh')
          this.loadData()
        })
      }
    },
    mounted(){
      this.initEvent()
      this.loadData()
    }
  }
</script>
<style scoped lang="less">
  .wrap-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

</style>
