<template>
  <div id="mapWrap"></div>
</template>
<script>
  export default{
    props: ['data'],
    watch: {
      data: 'loadMap',
    },
    methods: {
      loadMap(){
        let data = this.data
        if (!data) return;
        var map = new AMap.Map('mapWrap', {
          zoom: 16,
          zooms: [14, 19],
        });
        let arr = []
        for (let item of data) {
          arr.push([item.longitude, item.latitude])
        }
        setTimeout(() => {
          map.setZoom(16);
        }, 1000)
        AMapUI.load(['ui/misc/PathSimplifier'],
          function(PathSimplifier) {

            if (!PathSimplifier.supportCanvas) {
              alert('当前环境不支持 Canvas！');
              return;
            }
            AMap.event.addListener(map, 'zoomend', function() {
              console.log('level:' + map.getZoom())
            });
            var pathSimplifierIns = new PathSimplifier({
              zIndex: 100,
              //autoSetFitView:false,
              map: map, //所属的地图实例

              getPath: function(pathData, pathIndex) {

                return pathData.path;
              },
              getHoverTitle: function(pathData, pathIndex, pointIndex) {

                if (pointIndex >= 0) {
                  //point
                  return pathData.name + '，点：' + pointIndex + '/' + pathData.path.length;
                }

                return pathData.name + '，点数量' + pathData.path.length;
              },
              renderOptions: {
                renderAllPointsIfNumberBelow: -1 //绘制路线节点，如不需要可设置为-1
              }
            });
            window.pathSimplifierIns = pathSimplifierIns;
            //设置数据
            pathSimplifierIns.setData([{
              name: '路线0',
              path: arr
            }]);

            //对第一条线路（即索引 0）创建一个巡航器
            var navg1 = pathSimplifierIns.createPathNavigator(0, {
              loop: true, //循环播放
              speed: 20 //巡航速度，单位千米/小时
            });
            navg1.start();
          });

        AMapUI.loadUI(['overlay/SimpleMarker'], function(SimpleMarker) {
          new SimpleMarker({
            //普通文本
            iconLabel: '起',
            map: map,
            position: arr[0]
          });
          new SimpleMarker({
            //普通文本
            iconLabel: '终',
            map: map,
            position: arr[arr.length - 1]
          });
        })
      }
    }
  }
</script>
<style>
  #mapWrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

</style>
