<template>
  <div class='default-list'>
    <router-link to="pathparticle/1">1</router-link>
  </div>
</template>
<style scoped>
  .default-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
</style>
