<template>
  <div class="wrap">
    <page-header class="header"/>
    <div class="container">
      <page-aside class="aside" @onClickTitle="onAsideNav"/>
      <div class="content" id="pageMainId">
        <page-nav class="nav"></page-nav>
        <page-main class="main"/>
      </div>
    </div>
    <page-footer class="footer"/>
  </div>
</template>
<script>
  import PageMain from './PageMain.vue'
  import PageAside from './PageAside.vue'
  import PageFooter from './PageFooter.vue'
  import PageHeader from './PageHeader.vue'
  import PageNav from './PageNav.vue'

  export default {
    name: "page",
    navData: [],
    methods: {
      onAsideNav(data){
        console.log('data:' + data)
        this.$emit('onAsideNav', data)
      }
    },
    components: {
      PageMain,
      PageAside,
      PageFooter,
      PageHeader,
      PageNav
    }
  };
</script>
<style scoped lang="less">
  @import "../style/public.less";

  .wrap {
    &:extend(.flex-column-start-center);
    width: 100%;
    height: 100%;
  }

  .header {
    width: 100%;
    height: 6%;
    background-color: rgba(65, 70, 81, 1)
  }

  .container {
    &:extend(.flex-row-start-center);
    width: 100%;
    height: 89%;
  }

  .aside {
    width: 10%;
    height: 100%;
    background-color: rgba(65, 70, 81, 0);
  }

  .content {
    &:extend(.flex-clounm-start-center);
    width: 90%;
    height: 100%;
  }

  .nav {

  }

  .main {
    &:extend(.flex-clounm-center-center);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  }

  .footer {
    width: 10%;
    height: 5%;
  }
</style>
