<template>
  <div class="nav">
    <span class="toLink" @click="onToLink">首页</span> &nbsp>&nbsp {{navTitle}}
  </div>
</template>
<script>
  export default {
    data(){
      return {
        navTitle: null,
      }
    },
    methods: {
      initEvent(){
        this.$parent.$on('onAsideNav', (data) => {
          this.navTitle = data
        })
      },
      /* 跳转到首页 */
      onToLink(){
        window.location.href = window.location.origin + '/admin/admin/admin_list'
      }
    },
    mounted(){
      this.initEvent()
    }
  }
</script>
<style scoped lang="less">
  @import "../style/public";

  .nav {
    &:extend(.flex-row-start-center);
    padding-left: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 40px;
    background: #F8F9F8;
  }

  .toLink {
    font-size: 18px;
    color: #000;
    &:hover {
      color: #00a0e9;
      cursor: pointer;
    }
  }
</style>
