<template>
  <div>
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#545c64"
      text-color="#fff"
      :unique-opened="true"
      active-text-color="#ffd04b">
      <template v-for="(item ,index) of menuData">
        <template v-if="item.children">
          <el-submenu :index="index+''" key="index">
            <template slot="title">
              <span>{{item.label}}</span>
            </template>
            <el-menu-item @click="handleItem(obj, {navTitle: `${item.label} / ${obj.label}`})" :key="index+'-'+objIndex"
                          :index="index+'-'+objIndex"
                          v-for="(obj, objIndex) of item.children">
              {{obj.label}}
            </el-menu-item>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="index+''" @click="handleItem(item,{navTitle: `${item.label}`})" key="index">
            <span slot="title">{{item.label}}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>
<script>
  export default {
    data(){
      return {
        menuData: []
      }
    },
    methods: {
      handleItem({url, isHref}, {navTitle}){
        console.log(url);
        if (url && !isHref) {
          this.$emit('onClickTitle', navTitle)
          this.$router.push(url)
        } else {
          window.location.href = window.location.origin + url
        }
      }
    },
    mounted(){
      const userId = window.localStorage.getItem("userId");
      this.axios.get(`/admin/adminapi/menu_list/${userId}`).then(data => {
        console.log('mockdata:' + data)
        this.menuData = data
      }).catch(err => {
        this.menuData = data;
        console.log(err)
      })
    }
  }
</script>
<style>

</style>
