<template>
  <div class="wrap">
    <img class="logo-img" src="../assets/logo.png" alt="logo">
    <div class="login-info">
      <span>admin</span>
      <span>退出</span>
    </div>
  </div>
</template>
<style scoped lang="less">
  @import "../style/public.less";

  .wrap {
    &:extend(.flex-row-between-center);
  }

  .logo-img {
    margin-left: 50px;
  }

  .login-info {
    width: 70px;
    &:extend(.flex-row-between-center);
    color: #FFFFFF;
    margin-right: 50px;
  }
</style>
