<template>
  <!--场景切换-->
  <div id="app" :is="currentview">
  </div>
</template>
<script>
  import Page from './page/Page.vue'
  export default {
    name: "app",
    data(){
      return {
        currentview: 'page'
      }
    },
    components: {
      page: Page
    }
  };
</script>

<style>
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 12px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #app {
    position: absolute;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }


</style>
